@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #87ceeb;
}

.wrapper {
  height: 400px;
  width: 400px;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.cards,
.card,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.card .back-view img {
  max-width: 45px;
}
